body {
    background: #FFF;
    color: #191919;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

div, p, a, img, form, button {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
   
}

.header {
    background: #e9e9e9;
}

.nav {
    padding-top: 36px;
    display: flex;  
    align-items: center; 
}

.navList {
     margin-right: 0 auto;
}

.navList ul {
    display: flex;

}

.navList ul li a {
    font-weight: bold;
    font-size: 12px;
    margin-left: 30px;
    letter-spacing: 0.1em;
    color: #191919;
    text-transform: uppercase   
}

.navList .active,
.navList li a:hover{
    color: #1ecbc6;
    transition: all 0.5s ease;
  
}


.logo {
    margin-left: 0;
    margin-right: 522px;
}

.banner {
    padding: 0 30px 202px 665px;
}

.banner h1 {
    font-size: 38px;
    text-align: left; 
    margin: 180px 0 0 0;
    letter-spacing: 0.01em;
}

.banner p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: #8a8a8a;
    text-align: left;
    margin: 0;
    margin-top: 35px;
    letter-spacing: 0.005em;
    line-height: 28px;
}

.buttonLink {
    color: #FFF;
    background: #10c9c3;
    font-size: 12px;
    width: 180px;
    display: block;
    text-align: center;
    padding: 20px 0;
    transition: all 0.5s ease;
    text-transform: uppercase;
    margin: 35px 0 0 0;
    letter-spacing: 0.1em;
    
}

.buttonLink:hover{
    background: #18a7a2;
}

.aboutUs {
    background: #FFF;
    padding-bottom: 90px;
}

.aboutUs h2 {
    font-size: 30px;
    text-align: center;
    margin: 96px 0 36px 0;
    letter-spacing: 0.01em;
}

.aboutUs p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #787878;
    letter-spacing: 0.005em;
    line-height: 24px;
    
}

.signature {
    margin: 30px 0 0 475px;
}

.skills {
    background-color: #f8f9f9;
    height: 570px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill{
    width: 500px;
    height: 570px;   
    
}

.forImg {
    width: 500px;
    height: 570px;
    background-color: #e9e9e9;
}
